*{
        /* color: red; */
        font-size: 20px;

    }
    body{
        text-align: center;
        background-color: lightgrey;
    }
        h1.center{
            text-align: center;
            /* color: blue; */
            font-size: 3rem;
        }
        h1,p{
            color: brown;
        }